*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    color: white;

}

:root{
    --corbotoesh2texto: #FFAE00;
    --arredondamentobordas: 10px;
}

body{
    background-image: url(bg.png);
    /* descomente para uma imagem sem repetição */
    /* background-repeat: repeat; */
    /* background-size: cover; */
    text-align: center;
}

header{
    background-color: #1E1F22;
    text-align: center;
    padding: 15px;
}

a{
    color: white;
    margin: 0px 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.logo{
    width: 250px;
}

h2{
    color: var(--corbotoesh2texto);
    text-align: center;
}

h1{
    text-transform: uppercase ;
}

.imagemproduto{
    width: 400px;
}

.boxproduto{
    background-color: rgba(37, 37, 37, 0.8);
    width: 850px;
    margin: auto;
    border-radius: var(--arredondamentobordas);
    vertical-align: center;
    display: flex;
    /*para alinha e deixar centralizado junto com display flex*/
    align-items: center;
    text-align: justify;
}

.boximagem , .boxtexto{
    display: inline-block;
    vertical-align: middle;
}

.boxtexto{
    width: 400px;
    margin: 10px;
    
}

h1,h2,h3, button{
    margin: 10px 0px;
}

button{
    background-color: #FFAE00;
    padding: 15px;
    border: none;
    border-radius: var(--arredondamentobordas);
    text-align: center;
    width: 150px;
    /*maozinha cursor */
    cursor: pointer;
}

